.carousel {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  overflow: hidden;
}

.left_button,
.right_button {
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100%;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 2;
  filter: drop-shadow(0 0.2rem 0.4rem rgb(0 0 0));
  color: #fff;
  font-size: 3.5rem;
}

.left_button {
  left: 0;
}

.right_button {
  right: 0;
}

.left_button::after,
.right_button::after {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 400ms;
}

.left_button::after {
  background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 20%) 35%,
    transparent
  );
}

.right_button::after {
  background-image: linear-gradient(to left, rgb(0 0 0 / 20%) 35%, transparent);
}

.right_button:hover::after,
.left_button:hover::after {
  opacity: 1;
}

.radios_wrapper {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  z-index: 2;
}

.radio {
  all: unset;
  border-radius: 50%;
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
  background-color: rgb(255 255 255 / 35%);
  box-shadow: 0.1rem 0.1rem 0.4rem rgb(0 0 0 / 40%);
  border: 1px solid transparent;
}

.radio:checked {
  background-color: rgb(255 255 255 / 90%);
}

.radio:focus {
  outline: 1px solid white;
  border: 1px solid black;
}

.movie_list {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  transition: transform 500ms;
  height: 100%;
}

.movie_list > li {
  list-style: none;
  height: 100%;
}

.movie_image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .carousel {
    height: 27vw;
  }
}