.movie_ancor {
  text-decoration: none;
  color: initial;
  display: inline-block;
  position: relative;
}

.movie_ancor:focus {
  outline: 0.2rem solid white;
  border-radius: 0.1rem;
}

.movie_card {
  position: relative;
  width: 30rem;
  color: white;
  transition: transform 300ms;
  z-index: 10;
}

.movie_card:hover {
  transform: scale(1.1);
  z-index: 30;
}

.tag_wrapper {
  overflow: hidden;
  position: absolute;
  height: 30%;
  width: 100%;
}

.prime_tag {
  background-color: white;
  color: #1491b7;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transform: rotate(-45deg);
  position: absolute;
  padding: 0.3rem 2rem;
  top: 0.7rem;
  left: -2.4rem;
  justify-content: center;
}

.prime_tag::before {
  content: '';
  border-right: 0.2rem solid #f69a3c;
  border-bottom: 0.2rem solid #f69a3c;
  height: 0.8rem;
  width: 0.4rem;
  margin-right: 0.2rem;
  transform: rotate(45deg) skew(12deg, 10deg);
  display: block;
}

.movie_banner {
  width: 100%;
  height: 100%;
}

.card_bottom {
  width: 100%;
  opacity: 0;
  display: none;
  cursor: default;
  padding: 0 2rem 3rem;
  background-image: linear-gradient(to top, #1b2530, black);
}

.movie_card:hover > .card_bottom {
  display: block;
  opacity: 1;
  position: absolute;
  top: 95%;
}

.card_interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.button_ancor {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(48, 161, 193);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite_button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 3.5rem;
  color: white;
  display: flex;
}

.card_title {
  font-size: 1.6rem;
}

.card_description {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.year {
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 0.7rem;
}
