.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.logo {
  height: 3.2rem;
}

.nav_and_copyright {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem 1.5rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.ancor_list {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.ancor_list > li {
  list-style: none;
}

.ancor_list a {
  font-size: 1.5rem;
  color: rgb(121 184 243);
  text-decoration: none;
  transition: color 300ms;
}

.ancor_list a:hover {
  color: rgb(144 223 254);
}

.copyright {
  font-size: 1.5rem;
  color: #8197a4;
  margin-top: 1rem;
}

@media screen and (min-width: 780px) {
  .nav_and_copyright {
    margin-top: 0.7rem;
    flex-direction: row;
    text-align: left;
  }

  .ancor_list {
    flex-direction: row;
    gap: 1.5rem;
  }

  .copyright {
    margin-top: 0;
  }
}