.carousel {
  position: relative;
  margin-top: 1rem;
}

.left_button,
.right_button {
  position: absolute;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0.8rem;
  z-index: 40;
  color: #fff;
  font-size: 3.5rem;
  transition: background-color 300ms;
}

.left_button:hover,
.right_button:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.left_button {
  left: 0;
}

.right_button {
  right: 0;
}

.movie_list {
  display: flex;
  width: 100%;
  gap: 1rem;
  scroll-behavior: smooth;
  padding: 0 5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: transform 400ms;
}

.movie_list::-webkit-scrollbar {
  display: none;
}

.movie_list > li {
  list-style: none;
}
